<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/otel-16x16.png"
            tracetype="org.eclipse.tracecompass.incubator.otel.tracetype">
      </type>
   </extension>

</plugin>
