<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.incubator.internal.otel.core.trace.OtelEvent"
            id="org.eclipse.tracecompass.incubator.otel.tracetype"
            isDirectory="true"
            name="%tracetype.type.otel"
            trace_type="org.eclipse.tracecompass.incubator.internal.otel.core.trace.OtelTrace">
      </type>
      <experiment
            category="org.eclipse.tracecompass.incubator.otel.core"
            experiment_type="org.eclipse.tracecompass.incubator.internal.otel.core.trace.OtelExperiment"
            id="org.eclipse.tracecompass.incubator.otel.core.experiment"
            name="OpenTelemetry Experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.otel.core.analysis.spanlife.SpanLifeAnalysis"
            automatic="true"
            icon="icons/spanslife.png"
            id="org.eclipse.tracecompass.incubator.otel.analysis.spanlife"
            name="Span Life">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.otel.core.trace.OtelTrace">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.incubator.internal.otel.core.trace.OtelExperiment">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.otel.core.analysis.spanlife.SpanLifeDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.otel.analysis.spanlife.dataprovider">
      </dataProviderFactory>
   </extension>

</plugin>
